* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #dbeafe, #f0f9ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container geral */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Card */
.card {
  background: #ffffff;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}
/* Imagem */
.card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}
/* Título */
.card h1 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

/* Descrição */
.descricao {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

/* Seções */
.habilidades,
.caracteristicas {
  text-align: left;
  margin-top: 10px;
}

/* Subtítulos */
.card h2 {
  font-size: 16px;
  color: #444;
  margin-bottom: 5px;
}

/* Lista */
.habilidades ul {
  list-style: none;
  padding-left: 0;
}

.habilidades li {
  background: #e0f2fe;
  margin: 5px 0;
  padding: 5px;
  border-radius: 8px;
  font-size: 13px;
}

/* Características */
.caracteristicas p {
  font-size: 13px;
  margin: 3px 0;
}