* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #dbeafe, #f0f9ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container geral */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Card */
.card {
  background: #ffffff;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
}